/* 헤더 */
:root {
  --main-color: #a63b14;
  --main-radius: 0.4375rem;
}

header {
  background-color: #0e4c83;
  display: grid;
  grid-template-columns: 2fr 4fr;

  .logo {
    width: 10.5rem;
    height: 2.0625rem;
    border-radius: var(--main-radius);
    background-color: var(--main-color);
    place-self: center;
  }
  .menu-bar {
    justify-content: center;
  }
  .menu-item {
    width: 4.3125rem;
    height: 2.0625rem;
    border-radius: var(--main-radius);
    background-color: var(--main-color);
    margin-right: 1.94rem;
  }
}
