/* 헤더 */
:root {
  --main-color: #a63b14;
  --btn-color: #f27b13;
  --main-radius: 0.4375rem;
  margin: 0;
  padding: 0;
}

.main-container {
  background-color: #0e4c83;
  height: 100vh;
}
header {
  background-color: #0a375e;
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 4fr;

  .logo {
    width: 10.5rem;
    min-width: 10rem;
    height: 2.0625rem;
    border-radius: var(--main-radius);
    background-color: var(--main-color);
    place-self: center;
  }
  .menu-bar {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .menu-item {
    width: 4.3125rem;
    height: 2.0625rem;
    border-radius: var(--main-radius);
    background-color: var(--main-color);
    margin: 1.06rem 1.94rem 1.06rem 0;
  }
}

.grid-container {
  h1,
  h2,
  p,
  a {
    margin-left: 20px;
    background-color: var(--main-color);
    border-radius: 1.3125rem;
  }
  h1 {
    width: 40%;
  }
  h2 {
    width: 30%;
  }
  p {
    margin-right: 20px;
  }

  .button {
    display: flex;
    a {
      background-color: var(--btn-color);
      padding: 10px;
    }
  }

  .fab {
    font-size: 1.875rem;
    color: white;
  }
}
